<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> # chatgpt
<title>CSS Template</title> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

section {
  display:flex;
  flex-direction: row;
  background-color: #f1f1f1;
}



#grantTable th {
  background-color: #af7a73; /* Change this to your preferred color */
  color: white; /* Optional: Changes text color to white for contrast */
}

#grantTable td {
  background-color: #f9f9f9; /* Optional: Sets a different color for table rows */
}

#grantTable {
  width: 90%;
  border-collapse: collapse;
}

#grantTable th, #grantTable td {
  padding: 8px;
  text-align: left;
}

.container {
  max-height: 450px;  /* adjust height as needed */
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding-left: 5%;
  padding-right: 5%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>

<header>
  <h2>Grant Comparator</h2>
</header>

<section>
  
  <article>
  <h1>Grant Table</h1>
  <p>Here's the full list of the grants used by the comparison tool. The information below has been pulled from the old SFI grant commitments file <a href="https://data.gov.ie/dataset/science-foundation-ireland-grants-commitments/resource/1dda5892-aeff-4588-a94f-b548984d9340">SFI grant commitments file</a> hosted on data.gov.ie. 
    However, if you think it's missing a grant, feel free to add it by using the "Add a Grant" button below. Similarily, if you think any of the data is wrong, you can also update it using the "Update" and "Delete" buttons on the table.</p>
  <div><button id="button-showCreate" onclick="showCreate()">Add a Grant</button><br/><br/></div>
  <h1>Grant Table</h1>
  <div class="container">
    <table border="1" id="grantTable">
          <tr>
                  <th>id</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Year</th>
                  <th>Institution</th>
                  <th>Programme</th>
                  <th>Amount</th>
                  <th>Update</th>
                  <th>Delete</th>
          </tr>
  </table>
  <br/>
  </div>
  <div id="createUpdateForm" style="display:none">
      <!-- spans are like divs but do not go onto a new line -->
      <h2><span id="createLabel">Add a</span> <span id="updateLabel">Update this</span> Grant</h2>
      id <input type="text" name="id"><br/>
      Title <input type="text" name="title"><br/>
      Author <input type="text" name="author"><br/>
      Year <input type="text" name="year"><br/>
      Institution <input type="text" name="institution"><br/>
      Programme <input type="text" name="programme"><br/>
      Amount <input type="number" name="amount"><br/>
      <span><button id="button-doCreate" onclick="doCreate()">Add</button></span>
      <span><button id="button-doUpdate" onclick="doUpdate()">Update</button></span>


  </div>
  
</body>
<script>
  //console.log("hello world")
  function showCreate(){
      document.getElementById("createUpdateForm").style.display = "block"
      
      document.getElementById("button-doCreate").style.display = "block"
      document.getElementById("button-doUpdate").style.display = "none"
      document.getElementById("createLabel").style.display = "inline"
      document.getElementById("updateLabel").style.display = "none"

      document.getElementById("button-showCreate").style.display = "none"
      document.getElementById("grantTable").style.display = "none"
      
  }
  function showUpdate(buttonElement){
      document.getElementById("createUpdateForm").style.display = "block"
      document.getElementById("button-doCreate").style.display = "none"
      document.getElementById("button-doUpdate").style.display = "block"
      document.getElementById("createLabel").style.display = "none"
      document.getElementById("updateLabel").style.display = "inline"

      document.getElementById("button-showCreate").style.display = "none"
      document.getElementById("grantTable").style.display = "none"

      rowElement= buttonElement.parentNode.parentNode
      grant = getGrantFromRow(rowElement)
      //console.log("updating")
      //console.log(book)
      populateFormWithGrant(grant)
      
  }
  function showViewall(){
      document.getElementById("createUpdateForm").style.display = "none"
      document.getElementById("button-showCreate").style.display = "block"
      document.getElementById("grantTable").style.display = "block"
      
  }
  function clearForm(){
      var form = document.getElementById('createUpdateForm')

      form.querySelector('input[name="id"]').disabled = false
      form.querySelector('input[name="id"]').value  =''
      form.querySelector('input[name="title"]').value=''
      form.querySelector('input[name="author"]').value=''
      form.querySelector('input[name="year"]').value=''
      form.querySelector('input[name="institution"]').value=''
      form.querySelector('input[name="programme"]').value=''
      form.querySelector('input[name="amount"]').value=''
  }
  
  function getGrantFromForm(){
      var form = document.getElementById('createUpdateForm')

      var grant = {}
    grant.id = form.querySelector('input[name="id"]').value
    grant.title = form.querySelector('input[name="title"]').value
    grant.author = form.querySelector('input[name="author"]').value
    grant.year = form.querySelector('input[name="year"]').value
    grant.institution = form.querySelector('input[name="institution"]').value
    grant.programme = form.querySelector('input[name="programme"]').value
    grant.amount = form.querySelector('input[name="amount"]').value
    //console.log(JSON.stringify(book))
      return grant
  }
  function populateFormWithGrant(grant){
    var form = document.getElementById('createUpdateForm')
    form.querySelector('input[name="id"]').disabled = true
    form.querySelector('input[name="id"]').value  = grant.id
    form.querySelector('input[name="title"]').value= grant.title
    form.querySelector('input[name="author"]').value= grant.author
    form.querySelector('input[name="year"]').value= grant.year
    form.querySelector('input[name="institution"]').value= grant.institution
    form.querySelector('input[name="programme"]').value= grant.programme
    form.querySelector('input[name="amount"]').value= grant.amount
}


  function addGrantToTable(grant){
      var tableElement = document.getElementById('grantTable')
      var rowElement = tableElement.insertRow(-1)
      
      rowElement.setAttribute('id',grant.id)
      
      var cell1 = rowElement.insertCell(0);
      cell1.innerHTML = grant.id
      var cell2 = rowElement.insertCell(1);
      cell2.innerHTML = grant.title
      var cell3 = rowElement.insertCell(2);
      cell3.innerHTML = grant.author
      var cell3 = rowElement.insertCell(3);
      cell3.innerHTML = grant.year
      var cell4 = rowElement.insertCell(4);
      cell4.innerHTML = grant.institution
      var cell4 = rowElement.insertCell(5);
      cell4.innerHTML = grant.programme
      var cell5= rowElement.insertCell(6);
      cell5.innerHTML = grant.amount
      var cell6 = rowElement.insertCell(7);
      cell6.innerHTML = '<button onclick="showUpdate(this)">Update</button>'
      var cell7 = rowElement.insertCell(9);
      cell7.innerHTML = '<button onclick=doDelete(this)>Delete</button>'

  }
  function getGrantFromRow(rowElement){
      var grant ={}
      grant.id  = rowElement.cells[0].firstChild.textContent
      grant.title = rowElement.cells[1].firstChild.textContent
      grant.author = rowElement.cells[2].firstChild.textContent
      grant.year = rowElement.cells[3].firstChild.textContent
      grant.institution = rowElement.cells[4].firstChild.textContent
      grant.programme = rowElement.cells[5].firstChild.textContent
      grant.amount = rowElement.cells[6].firstChild.textContent
      return grant
  }
  function setGrantInRow(rowElement, grant){
      rowElement.cells[0].firstChild.textContent= grant.id  
      rowElement.cells[1].firstChild.textContent= grant.title 
      rowElement.cells[2].firstChild.textContent= grant.author
      rowElement.cells[3].firstChild.textContent= grant.year
      rowElement.cells[4].firstChild.textContent= grant.institution
      rowElement.cells[5].firstChild.textContent= grant.programme
      rowElement.cells[6].firstChild.textContent= grant.amount
}

  function doCreate(){
      console.log("creating a grant")
      grant = getGrantFromForm()
      //console.log(grant)
      // I need to wait until I get the id from the server before adding this to the table
      // so  I put that code in the callback function
      createGrant(convertDisplayGrantToServerGrant(grant), processCreateResponse)
      console.log("About to create grant:");
      console.log(getGrantFromForm());
      console.log("Server payload:");
      console.log(JSON.stringify(convertDisplayGrantToServerGrant(getGrantFromForm())));
  }

  function doUpdate(){
      grant= getGrantFromForm()
      console.log(grant)
      var rowElement = document.getElementById(grant.id)
      setGrantInRow(rowElement, grant)
      // now I am updating on the server
      // yes there is a change that it will be updated on the table and not the server
      updateGrant(convertDisplayGrantToServerGrant(grant), doNothing)
      showViewall()
      clearForm()
  }
  function doDelete(buttonElement){
      console.log("in delete")
      var tableElement = document.getElementById('grantTable')
      var rowElement = buttonElement.parentNode.parentNode;
      // I need the grant id
      id = rowElement.getAttribute("id")
      console.log("deleting "+id)
      deleteGrant(id, doNothing)

      index = rowElement.rowIndex
      tableElement.deleteRow(index);


  }

  // populate the table
  function processGetAllResponse(result){
      console.log("in process")
      //console.log(result)
      for (grant of result){
          //console.log(grant)
          // issue the format of the grant object is different from lab06.02
          // there are two solutions change the grant object in lan06.02 to have capitals 
          // or convert
          displayGrant = {}
          displayGrant.id = grant.id
          displayGrant.author = grant.author
          displayGrant.title = grant.title
          displayGrant.year = grant.year
          displayGrant.institution = grant.institution
          displayGrant.programme = grant.programme
          displayGrant.amount = grant.amount
          // you can now pass it to addGrantToTable
          //console.log(displayGrant)
          addGrantToTable(displayGrant)
      }
  }
  function convertDisplayGrantToServerGrant(displayGrant){
      serverGrant = {}
      serverGrant.id = displayGrant.id
      serverGrant.title = displayGrant.title
      serverGrant.author = displayGrant.author
      serverGrant.year = displayGrant.year
      serverGrant.institution = displayGrant.institution
      serverGrant.programme = displayGrant.programme
      serverGrant.amount = parseInt(displayGrant.amount) // convert the string to an int
      return serverGrant
  }
  function convertServerGrantToDisplayGrant(grant){
      displayGrant = {}
      displayGrant.id = grant.id
      displayGrant.author = grant.author
      displayGrant.title = grant.title
      displayGrant.year = grant.year
      displayGrant.institution = grant.institution
      displayGrant.programme = grant.programme
      displayGrant.amount = grant.amount
      return displayGrant
  }
  function processCreateResponse(result){
      displayGrant = convertServerGrantToDisplayGrant(result)
      addGrantToTable(displayGrant)
      showViewall()
      clearForm()
  }
  // I should set this as the default function for the callback
  function doNothing(result){
      console.log("nothing:"+result)
      return "done"
  }

    getAll(processGetAllResponse)


function getAll(callback) {
    $.ajax({
        url: '/grants',
        method: 'GET',
        dataType: 'json',
        success: callback
    });
}

function createGrant(grant, callback) {
    $.ajax({
        url: '/grants',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(grant),
        success: callback
    });
}

function updateGrant(grant, callback) {
    $.ajax({
        url: '/grants/' + grant.id,
        method: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(grant),
        success: callback
    });
}

function deleteGrant(id, callback) {
    $.ajax({
        url: '/grants/' + id,
        method: 'DELETE',
        success: callback
    });
}

</script>

</section>

<footer>
  <p>Footer</p>
</footer>

</body>
</html>