<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<title>CSS Template</title> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

section {
  display:flex;
  flex-direction: row;
  background-color: #f1f1f1;
  padding-left: 5%;
  padding-right: 5%;
}

#researcherTable th {
  background-color: #af7a73; 
  color: white; 
}

#researcherTable td {
  background-color: #f9f9f9; 
}

#researcherTable {
  width: 100%;
  border-collapse: collapse;
}

#researcherTable th, #researcherTable td {
  padding: 8px;
  text-align: left;
}

.container {
  max-height: 300px;  
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding-left: 5%;
  padding-right: 5%;
}

#grantTable th {
  background-color: #af7a73; 
  color: white; 
}

#grantTable td {
  background-color: #f9f9f9; 
}

#grantTable {
  width: 100%;
  border-collapse: collapse;
}

#grantTable th, #grantTable td {
  padding: 8px;
  text-align: left;
}

.container {
  max-height: 300px;  
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding-left: 5%;
  padding-right: 5%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>

<header>
  <h2>SFI Grant Comparator</h2>
</header>

<section>
  <article>
  <br/>
  <p> Welcome to the SFI grant comparator web application. This web application allows you to look at an individual SFI grant and see how it compares to the overall SFI averages.
  Just select an SFI grant from the researcher table below, enter it's id number in the box below and click the compare button. The application will then generate some text to
  show you how your grant compares to the overall SFI averages.</p>
  <p> Alternatively, if you'd like, you can add your own grant to the table below and use the assigned id number to see how it compares to the overall SFI averages. 
  Though, if you are entering your own grant, you should be aware if you enter a value not contained in the comparison table, it wll return a "0" for your comparisons. 
  The data in the comparison table is largely the same as the data in the grant table, so, if you need to see the exact way to spell UCD, you can look at the table below.</p>
  <p></p>Don't worry, the compartor uses the original data from the from the old <a href="https://data.gov.ie/dataset/science-foundation-ireland-grants-commitments/resource/1dda5892-aeff-4588-a94f-b548984d9340">SFI grant commitments file</a> 
  to work out it's averages. So, adding your grant to the table below won't impact how well the application does its analysis.</p>  
  <br/>
  <form id="compareForm">
    <label for="researcherId">Enter Grant ID:</label>
    <input type="number" id="researcherId" name="researcherId" required>
  </form>
  <button id="compareButton">Compare</button>
  <div id="comparison"></div>

  <h1>Add A Grant</h1>
  <div><button id="button-showCreateResearcher" onclick="showCreateResearcher()">Add a Grant</button><br/><br/></div>
  <h1>Grant Table</h1>
  <div class="container">
    <table border="1" id="researcherTable">
          <tr>
                  <th>id</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Year</th>
                  <th>Institution</th>
                  <th>Programme</th>
                  <th>Amount (€)</th>
                  <th>Update</th>
                  <th>Delete</th>
          </tr>
  </table>
  <br/>
  </div>
  <br/>
  </div>
  <div id="createUpdateForm" style="display:none">
      <h2><span id="createLabel">Add a</span> <span id="updateLabel">Update this</span> Grant</h2>
      id <input type="text" name="id"><br/>
      Title <input type="text" name="title"><br/>
      Author <input type="text" name="author"><br/>
      Year <input type="text" name="year"><br/>
      Institution <input type="text" name="institution"><br/>
      Programme <input type="text" name="programme"><br/>
      Amount <input type="number" name="amount"><br/>
      <span><button id="button-doCreateResearcher" onclick="doCreateResearcher()">Add</button></span>
      <span><button id="button-doUpdateResearcher" onclick="doUpdateResearcher()">Update</button></span>
   </div>

</body>
<script>

// Makes the form to create a new researcher visible
  function showCreateResearcher(){
      document.getElementById("createUpdateForm").style.display = "block" // Finds the element CreateUpdateForm and makes it visible
      document.getElementById("button-doCreateResearcher").style.display = "block"
      document.getElementById("button-doUpdateResearcher").style.display = "none"
      document.getElementById("createLabel").style.display = "inline"
      document.getElementById("updateLabel").style.display = "none"
      document.getElementById("button-showCreateResearcher").style.display = "none"
      document.getElementById("researcherTable").style.display = "none"
  }

// Brings up the update form like the above section does for the create form
  function showUpdateResearcher(buttonElement){
      document.getElementById("createUpdateForm").style.display = "block"
      document.getElementById("button-doCreateResearcher").style.display = "none"
      document.getElementById("button-doUpdateResearcher").style.display = "block"
      document.getElementById("createLabel").style.display = "none"
      document.getElementById("updateLabel").style.display = "inline"
      document.getElementById("button-showCreateResearcher").style.display = "none"
      document.getElementById("researcherTable").style.display = "none"
      rowElement= buttonElement.parentNode.parentNode
      researcher = getResearcherFromRow(rowElement)
      populateFormWithResearcher(researcher)
  }

// Hides the form and shows the table
  function showViewall(){
      document.getElementById("createUpdateForm").style.display = "none"
      document.getElementById("button-showCreateResearcher").style.display = "block"
      document.getElementById("researcherTable").style.display = "block"
  }

// Makes all the inputs in the form blank
  function clearForm(){
      var form = document.getElementById('createUpdateForm')
      form.querySelector('input[name="id"]').disabled = false 
      form.querySelector('input[name="id"]').value  ='' // finds the id input and makes it blank
      form.querySelector('input[name="title"]').value=''
      form.querySelector('input[name="author"]').value=''
      form.querySelector('input[name="year"]').value=''
      form.querySelector('input[name="institution"]').value=''
      form.querySelector('input[name="programme"]').value=''
      form.querySelector('input[name="amount"]').value=''
  }

  function getResearcherFromForm(){
      var form = document.getElementById('createUpdateForm')
      var researcher = {}
    researcher.id = form.querySelector('input[name="id"]').value
    researcher.title = form.querySelector('input[name="title"]').value
    researcher.author = form.querySelector('input[name="author"]').value
    researcher.year = form.querySelector('input[name="year"]').value
    researcher.institution = form.querySelector('input[name="institution"]').value
    researcher.programme = form.querySelector('input[name="programme"]').value
    researcher.amount = form.querySelector('input[name="amount"]').value
      return researcher
  }

// Populates the form with the results of the update
  function populateFormWithResearcher(researcher){
    var form = document.getElementById('createUpdateForm')
    form.querySelector('input[name="id"]').disabled = true // Preventsthe id from being changed
    form.querySelector('input[name="id"]').value  = researcher.id
    form.querySelector('input[name="title"]').value= researcher.title
    form.querySelector('input[name="author"]').value= researcher.author
    form.querySelector('input[name="year"]').value= researcher.year
    form.querySelector('input[name="institution"]').value= researcher.institution
    form.querySelector('input[name="programme"]').value= researcher.programme
    form.querySelector('input[name="amount"]').value= researcher.amount
}

// Adds a new row to the table with the results
  function addResearcherToTable(researcher){
      var tableElement = document.getElementById('researcherTable')
      var rowElement = tableElement.insertRow(-1)
      rowElement.setAttribute('id',researcher.id)
      var cell1 = rowElement.insertCell(0); // Enters the below variable into the the selected cell in the selected table row
      cell1.innerHTML = researcher.id
      var cell2 = rowElement.insertCell(1);
      cell2.innerHTML = researcher.title
      var cell3 = rowElement.insertCell(2);
      cell3.innerHTML = researcher.author
      var cell3 = rowElement.insertCell(3);
      cell3.innerHTML = researcher.year
      var cell4 = rowElement.insertCell(4);
      cell4.innerHTML = researcher.institution
      var cell4 = rowElement.insertCell(5);
      cell4.innerHTML = researcher.programme
      var cell5= rowElement.insertCell(6);
      cell5.innerHTML = researcher.amount
      var cell6 = rowElement.insertCell(7);
      cell6.innerHTML = '<button onclick=showUpdateResearcher(this)>Update</button>'
      var cell7 = rowElement.insertCell(8);
      cell7.innerHTML = '<button onclick=doDelete(this)>Delete</button>'
  }

// Selects the row and data that is to be updated/deleted
  function getResearcherFromRow(rowElement){
      var researcher ={}
      researcher.id  = rowElement.cells[0].firstChild.textContent // selects the content inside a cell in a table row
      researcher.title = rowElement.cells[1].firstChild.textContent
      researcher.author = rowElement.cells[2].firstChild.textContent
      researcher.year = rowElement.cells[3].firstChild.textContent
      researcher.institution = rowElement.cells[4].firstChild.textContent
      researcher.programme = rowElement.cells[5].firstChild.textContent
      researcher.amount = rowElement.cells[6].firstChild.textContent
      return researcher
  }

// Updates the row after it's been selected
  function setResearcherInRow(rowElement, researcher){
      rowElement.cells[0].firstChild.textContent= researcher.id  
      rowElement.cells[1].firstChild.textContent= researcher.title 
      rowElement.cells[2].firstChild.textContent= researcher.author
      rowElement.cells[3].firstChild.textContent= researcher.year
      rowElement.cells[4].firstChild.textContent= researcher.institution
      rowElement.cells[5].firstChild.textContent= researcher.programme
      rowElement.cells[6].firstChild.textContent= researcher.amount
  }

// Saves the data from a newly created entry in the researcher table to the server database  
  function doCreateResearcher(){
      console.log("creating a researcher")
      researcher = getResearcherFromForm()
      createResearcher(convertDisplayResearcherToServerResearcher(researcher), processCreateResponse)
      console.log("About to create researcher:");
      console.log(getResearcherFromForm());
      console.log("Server payload:");
      console.log(JSON.stringify(convertDisplayResearcherToServerResearcher(getResearcherFromForm())));
  }

// Same as above but for update
  function doUpdateResearcher(){
      researcher= getResearcherFromForm()
      console.log(researcher)
      var rowElement = document.getElementById(researcher.id)
      setResearcherInRow(rowElement, researcher)
      updateResearcher(convertDisplayResearcherToServerResearcher(researcher), doNothing)
      showViewall()
      clearForm()
  }

// Same as above but for delete
  function doDelete(buttonElement){
      console.log("in delete")
      var tableElement = document.getElementById('researcherTable')
      var rowElement = buttonElement.parentNode.parentNode;
      id = rowElement.getAttribute("id")
      console.log("deleting "+id)
      deleteResearcher(id, doNothing)
      index = rowElement.rowIndex
      tableElement.deleteRow(index);
  }

// Fetches all the relevant data from the server, turns it into a displayResearcher object and adds it to the table 
  function processGetAllResponseResearcher(result){
      console.log("in process")
      for (researcher of result){
          displayResearcher = {}
          displayResearcher.id = researcher.id // Fetches the id value associated with the researcher object and stores it in the displayResearcher object
          displayResearcher.author = researcher.author
          displayResearcher.title = researcher.title
          displayResearcher.year = researcher.year
          displayResearcher.institution = researcher.institution
          displayResearcher.programme = researcher.programme
          displayResearcher.amount = researcher.amount
          addResearcherToTable(displayResearcher)
      }
  }

// Formats the data in a displayResearcher object before sending it to the server
  function convertDisplayResearcherToServerResearcher(displayResearcher){
      serverResearcher = {}
      serverResearcher.id = displayResearcher.id
      serverResearcher.title = displayResearcher.title
      serverResearcher.author = displayResearcher.author
      serverResearcher.year = displayResearcher.year
      serverResearcher.institution = displayResearcher.institution
      serverResearcher.programme = displayResearcher.programme
      serverResearcher.amount = parseInt(displayResearcher.amount) // convert the string to an int
      return serverResearcher
  }

// Formats data from the server so that it can be stored in a displayResearcher object
  function convertServerResearcherToDisplayResearcher(researcher){
      displayResearcher = {}
      displayResearcher.id = researcher.id
      displayResearcher.author = researcher.author
      displayResearcher.title = researcher.title
      displayResearcher.year = researcher.year
      displayResearcher.institution = researcher.institution
      displayResearcher.programme = researcher.programme
      displayResearcher.amount = researcher.amount
      return displayResearcher
  }

// Handles the process of adding a new entry to the table, showing the updated table and clearing the form
  function processCreateResponse(result){
      displayResearcher = convertServerResearcherToDisplayResearcher(result)
      addResearcherToTable(displayResearcher)
      showViewall()
      clearForm()
  }

// Keeps things running after the delete and update functions are called
  function doNothing(result){
      console.log("nothing:"+result)
      return "done"
  }

    getAllResearcher(processGetAllResponseResearcher)


// Researcher Ajax calls

function getAllResearcher(callback) {
    $.ajax({
        url: '/researcher', // URL endpoint
        method: 'GET',  // CRUD method
        dataType: 'json', // Response should be parsed as JSON
        success: callback // If the server responds, return the above
    });
}

function createResearcher(researcher, callback) {
    $.ajax({
        url: '/researcher',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(researcher), // Server can only recieve JSON, so we convert the data to a JSON string
        success: callback
    });
}

function updateResearcher(researcher, callback) {
    $.ajax({
        url: '/researcher/' + researcher.id,
        method: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(researcher),
        success: callback
    });
}

function deleteResearcher(id, callback) {
    $.ajax({
        url: '/researcher/' + id,
        method: 'DELETE',
        success: callback
    });
}



// Comparison functions

//Checks if a valid id (i.e. one in the table) has been recieved. If yes, it runs the comparison function otherwise it returns an error message in results space instead.
$('#compareButton').on('click', function() {  // When the button is clicked, run the function
    var researcherId = $('#researcherId').val();  //grabs the researcher id from the input box and stores it as a javascript variable
    if (researcherId) { 
        comparison(researcherId);
    } else {
        $('#comparison').text('Please enter a valid grant ID.');
    }
});

function numberWithCommas(x) {
return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

// Ajax call to get the comparison data for the selected researcher ID (see def compareResearcherAmount)
function comparison(researcherId) {
    $.ajax({
        url: '/compare/' + researcherId,
        method: 'GET',
        success: function(data) {
            $('#comparison').html(
              '<h3>Researcher Grant Analysis</h3>' +
              'You have selected the grant "' + data.title + '" by ' + data.author + '. This grant was awarded in ' + data.year + ' under the ' + data.programme + ' while the awardee was working in ' +  data.institution + '. The total funding was €' + numberWithCommas(data.amount) + '.<br><br>' +
              '- This grant is <strong>' + data.comparison_overall + '</strong> than the current overall average SFI grant (which is €'+ numberWithCommas(data.average_grant_amount) +')<br>' +
              '- In '  + data.year + ' this grant was <strong>' + data.comparison_year + '</strong> than the average SFI grant awarded (which is €'+ numberWithCommas(data.year_average)+')<br>'+
              '- When it comes to grants awarded to '  + data.institution + ', this grant is <strong>' + data.comparison_institution + '</strong> than the average SFI grant awarded (which is €'+ numberWithCommas(data.institution_average) +')<br>'+
              '- Compared to the average grant in the '  + data.programme + ', this grant was <strong>' + data.comparison_programme + '</strong> than average (which is €' + numberWithCommas(data.programme_average) +')<br>'         
              );
          },
        error: function() {
            $('#comparison').text('No grant ID match.');
        }
    });
}

</script>

</section>

<footer>
  <p>This website is a personal project. If you have any other questions, feel free to contact me at my github account (NeilTynan).</p>
</footer>

</body>
</html>